
#menu{
    background-color:#ff6000;   
   
}
#banner{
    height: 120px;
    width:100%;
    background-image:url("image/index5.jpeg");
    margin:5px;
    padding:2%;
}
#contenido{
    font-family: sans-serif;
    color:#333333;
    font-size: 22px;
    background-image:url("image/contenido.jpeg");
    margin:0px;
    padding:5%;
}
#panel{
    background-image:url("image/supermarket.png");
     height: 100%;
     width:100%;
}